@charset "UTF-8";

body{
	display: flex;
  	justify-content: center;
 	align-items: center;
 	min-height: 100vh;
}

#wrap-table {
	display: flex;
	width: 1150px;
	border-collapse: collapse;
	
}
/* 리스트 테이블 */
.tableFixHead{
	height: 600px;
	overflow: auto;
}

.tableFixHead::-webkit-scrollbar {
	width: 5px;
}

.tableFixHead::-webkit-scrollbar-thumb {
    border: 100px solid gray;
    background-clip: padding-box;
    border-radius: 10px;
    
}
.tableFixHead thead .fixedHeader,
.tableFixHead thead th   {
  position: sticky; /* make the table heads sticky */
  top: 0px; /* table head will be placed from the top of the table and sticks to it */
}

/* 리스트 높이 */
.tableFixHead table tr {
	height: 40px;
	text-align: center;
}

thead {
    background: #275efe;
    color: white;
}


/* 입력창 테이블 */
#frmInsert table {
	margin-left: 50px;
	width: 250px;
	height: 300px;
}

/* 버튼 */
#btn_Insert {
	width: 250px;
	margin-left: 50px;
}